body {
    font-family: arial;
}

h1 {
    text-align: center;
}

body {
  background-color: #bcaaa4;
}

.gamestack {
    margin: 20px 40px;
}

.links {
    margin: 10px;
    text-align: center;
}

.links a {
    padding-left: 5px;
    padding-right: 5px;
}

.highscores table {
    width: 60ex;
    margin-top: 20px;
    margin-bottom: 20px;

    border-style: solid;
    border-color: #555;
    border-width: 2px;
    color: #333;
}

.highscores td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    padding: 3px;
}

.highscores th {
    font-variant: small-caps;
}

.highscores tr#self {
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
}

.fineprint {
    font-size: smaller;
}

.score {
    font-size: large;
}

.selected-link {
    font-weight: bold;
}

.Wt-auth-logged-in {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 90%;
}

.main-box {
    margin-top: 1ex;
	margin-bottom: 1ex;
}

.panel-box {
	width: 34%;
	display: grid;
    grid-template-columns: auto auto;
}

.chess-box {
	width:53%;
}

.vbox {
	width: 13%;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.chessButtonGray {
	background-color: #4d4d4d;
	width: 64px !important;
    height: 64px !important;
	padding: 0px 0px 0px 0px;
}

.chessButtonWhite {
	background-color: white;
	width: 64px !important;
    height: 64px !important;
	padding: 0px 0px 0px 0px;
}

.chessButtonRed {
	background-color: red;
	width: 64px !important;
    height: 64px !important;
	padding: 0px 0px 0px 0px;
}

.chessButtonGreen {
	background-color: green;
	width: 64px !important;
    height: 64px !important;
	padding: 0px 0px 0px 0px;
}

.centerWidget {
	margin-left: auto;
    margin-right: auto;
}

.playerImage {
	height: 208px;
	width: 226px;
}

.playerLabel {
	font-weight: bold;
	font-size: 24px;
}

.lostFigureImage {
	height: 48px;
	width: 48px;
}
.lostFigureContainer{
	display: grid;
    grid-template-columns: auto auto auto auto;
}

.createNewGameButton{
	margin-bottom: 20px;
	margin-top: 20px;
}

.saveAnchor{
	margin-bottom: 30px;
	margin-top: 20px;
}

.openGameUpload{
	margin-bottom: 30px;
	margin-top: 0px;
}

.openGameText{
	margin-bottom: 0px;
	margin-top: 20px;
}







